*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

h1 , h2 , h3, footer{
  font-family: "Archivo Black" , sans-serif;
}

#sunny-icon{
  margin-left: 7%;
  position: fixed;
  top: 0;
  height: 10%;
  z-index: 11;
}

#navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  font-size: 1.25rem;

  background-color: #fbdce2;
  z-index: 10;
  overflow: visible;
  /* border: 2px solid black; */
}

#navbar a{
  margin: 1%;
  text-decoration: none;
  color:black;
}

#navbar a:last-of-type{
  margin-right: 5%;
}

#welcome-section{
  width: 100vw;
  height: 100vh;
  /* border: 2px solid black; */
  /* text-align: center; */
  display: flex;
  background-color: #f7b6c2;
  color: #c25b78;
}

#introduction{
  font-size: 2rem; 
}

@keyframes jiggle {
  0%{
    transform: translateY(0%);
  }

  50%{
    transform: translateY(20%);
  }

  7%{
    transform: translateY(-10%);
  }

  100%{
    transform: translateY(0%);
  }
}

.split-text{
  display: inline-block;
  transform: rotate(deg) !important;
  animation: jiggle 1.5s ease-in infinite;
  animation-delay: calc((var(--position) - 1) * 0.05s);
}

#welcome-text-container{
  margin: auto;
}

#projects{
  position: absolute;
  top: -3%;
}

#project-section{
  width: 100vw;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#project-section h2{
  margin-top: 5%;
  text-align: center;
}

hr{
  width: 70%;
  margin: 3%;
}

.project-tiles-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
}

.project-tiles{
  display: flex;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 5%;

  position: relative;
}

.project-tiles-image{
  width: 90%;
  height: 90%;
}

.project-tiles-wrapper a{
  width: 50%;
  height: 10%;
  background-color: white;
  text-decoration: none;
  color: black;
  margin: 10px;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  position: relative;

  font-size: 1rem;
  padding: 1%;
}

@keyframes pop-up {
    0%{
      opacity: 0%;
    }

    100%{
      opacity: 100%;
    }
}
@keyframes pop-down {   
    0%{
      opacity: 100%;
    }
    100%{
      opacity: 0%;
    }
}

.project-tiles-wrapper a p{
  
  position: relative;
}

.project-tiles:hover a p::before{
  position: absolute;
  left: -20%;
  content: "<";
  opacity: 100%;
  transition: opacity 0.3s ease;
}

.project-tiles:hover a p::after{
  position: absolute;
  right: -20%;
  content: "/>";
  opacity: 100%;
  transition: opacity 0.3s ease;
}

.project-tiles a p::before{
  opacity: 0%;
  position: absolute;
  left: -20%;
  content: "<";
  transition: opacity 0.5s ease;
  opacity: 0%;
}

.project-tiles a p::after{
  opacity: 0%;
  position: absolute;
  right: -20%;
  transition: opacity 0.5s ease;
  content: "/>";
  opacity: 0%;
}

#profile-link{
  margin-top: 2%;
  margin-bottom: 5%;

  text-decoration: none;
  color: black;
  background-color: rgb(224, 224, 224);
  padding: 10px;
  transition: transform 1s ease;
}


#profile-link:hover{
    transform: scale(125%);
}

#talk{
  margin-top: 3%;
}

#contact{
  width: 100vw;
  text-align: center;
  color: white;
  background-color: black;

  padding-bottom: 150px;
}

#contact h2{
  padding-top: 10%;
}

.link-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 5%;
  /* border: 2px solid white; */
}

.contact-icons{
  width: 50px;
  height: 50px;
}

.contact-link{
  display: flex;
  flex-direction: row;
  padding:10px;
  /* border: 2px solid white; */
  align-items: center;

  text-decoration: none;
  color: white;

  transition: transform 1s ease;
}

.contact-link:hover{
  transform: translateY(20px);
  /* text-decoration: underline; */
}

.contact-link p{
    margin-left: 15px;
}


@media only screen and (min-width: 501px) {
  .mobile-only{
    display: hidden;
    overflow: hidden;
    width: 0px;
    height: 0px;
    position: fixed;
    top: 0;
    left: 0;
    content: "";
  }
}

@media only screen and (max-width: 500px){
  a{
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

  .desktop{
    display: hidden !important;
    overflow: hidden;
    width: 0px;
    height: 0px;
    position: fixed;
    top: 0;
    left: 0;
    content: "";
  }

  #more-icon{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 60%;
      margin-right: 10%;
      padding: 2%;
  }

  .icon-dash{
      width: 40px;
      height: 4px;
      border-radius: 3px;
      background-color: black;
  }

  #more-info{
      position: absolute;
      right: 0;
      display: block;
      flex-direction: column;
      justify-content: space-evenly;
      height: 0px;
      width: 200px;
      top: 10vh;
      background-color: #f5d0d8;
      z-index: 2;

      overflow: hidden;   
      transition: height 1s ease-in-out , width 1s ease-in-out;
  }


  #section-wrapper{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 200px;
      width: 200px;
      top: 0px;
      z-index: 2;
      background-color: #f5d0d8;
      transition: top 1s ease-in-out !important; 
  }

}