body{
    text-align: center;
    background-color: black;
    font-family: Arial, sans-serif;
}

p , h1 , h2 , h3{
    color: white;
}

h2 {
    font-size: 56px;
}

p{
    font-size: 100%;
}

h1{
    font-size: 200%;    
}

#BLOCK1 {
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

#BLOCK2 {
    margin-top: 100px;
}

#left {
    width: 45%;
    text-align: left;
}

#right {
    width: 50%;
    position: relative;
}
.PICTURE1 {
    width: 100%;
    border-radius: 10px;
}

#form-button{
    font-size: 20px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    background: linear-gradient(to right , #f75454, #4d0000);
    border-radius: 10px;
}

#BLOCK3{
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    width: 1000px;
    border: 4px solid rgb(65, 85, 114);
    border-radius: 40px;
    margin-top: 100px;
}

#BLOCK3 > p {
    font-size: 25px;;
    text-align: left;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 40px;
}

#BLOCK4 {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    margin-top: 100px;
}

#BLOCK5{
    display: flex;
    align-items: center;
}

.item1{
    background-image: url(https://w.ladicdn.com/s500x500/5e874668e0f4570769c1795e/frame-389-20250602042454-rssdg.png);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: 90px 0;
    margin-left: 30px;
    width: 300px;
    height: 300px;
    border: 2px solid red;
}

.item2{
    background-image: url(https://w.ladicdn.com/s500x500/5e874668e0f4570769c1795e/frame-390-20250602042454-aedoj.png);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: 90px 0;
    margin-left: 30px;
    width: 300px;
    height: 300px;
    border: 2px solid red;
}

.item3{
    background-image: url(https://w.ladicdn.com/s500x500/5e874668e0f4570769c1795e/frame-392-20250602042454-mcmjs.png);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: 90px 0;
    margin-left: 30px;
    width: 300px;
    height: 300px;
    border: 2px solid red;
}

.item4{
    background-image: url(https://w.ladicdn.com/s500x500/5e874668e0f4570769c1795e/frame-391-20250602042454-wgwlm.png);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: 90px 0;
    margin-left: 30px;
    width: 300px;
    height: 300px;
    border: 2px solid red;
}

.text{
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(255, 135, 43);
    text-transform: capitalize;
}
.text2{
    font-size: 15x;
    margin-left: 5%;
    margin-right: 5%;
}

#BLOCK6 {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 100px;
}

.sub-item{
    text-align: left;
    overflow: hidden;
    width: 500px;
    height: 150px;
    padding: 20px;
    border-radius: 30px;
    background-image: url(https://w.ladicdn.com/s800x550/5e874668e0f4570769c1795e/frame-394-20250602042422-dldyt.png);
    background-position: 400px -15px;
    background-size: 220px 220px;
    background-repeat: no-repeat;
}

.void-border{
    margin-right: auto;
    width: 540px;
    height: 190px;
    padding: 30px;
    border-radius: 30px;
    background-color: black;
}

.gradient-border{
    margin-right: auto;
    width: 540px;
    height: 190px;
    padding: 1px;
    border-radius: 30px;
    background-image: linear-gradient(135deg, #ff003c, #ff8c00, #ffe600 , #ff8c00 , #ff003c);
    
    z-index: 1;
}

#top{
    margin-left: 20%;
    margin-right: auto;
    display: flex;
    position: relative; 
    align-items: center;
    width: 1200px;
    height: 250px;
}

#sub-item1 {
    position: absolute;
    top: 25px;
    right: 600px;
    width: 200px;
    pointer-events: none;
}

.gray-background{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: linear-gradient(to right , grey , black);
    /* border: 20px solid red; */
}

.cap{
    text-transform: capitalize;
}

#BLOCK8{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#BLOCK8 p{
    font-size: 25px;
    text-align: left;
    margin-right: 20px;
    margin-top: 40px;
}

.BLOCK9{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #4d0000;
    border: 5px solid #ff003c;
    border-radius: 20px;
    padding-top: 20px;
}

.BLOCK9 p:first-child{
    padding-left: 50px;
}
.BLOCK9 p:last-child{
    padding-right: 50px;
}

#BLOCK8 .BLOCK9 p{
    font-size: 5em;
}

.per-month::after{
    font-size: 50%;
    display: flex;  
    flex-wrap: wrap;
    content: "/tháng";
}